[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "*"
flask-cors = "*"
gunicorn = "*"
flask-mail = "*"
redis = "*"
python-dotenv = "*"
flasgger = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
pytz = "*"
flask-jwt-extended = "*"
flask = "*"
firebase-admin = "*"
pillow = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
